ion-content.background {
    --background: url('/assets/imagenes/fondo.png') 0 0/100% 100% no-repeat;
  }  

  ion-toolbar{
    --text-align: center;
    --background: #94b8d7;
  }

  ion-content.menu { 
    --ion-background-color: #1f1f1f;
  }