ion-toolbar{
    --text-align: center;
    --background: #94b8d7;
}

.contenido {
    --background: #ffffff;
    --border-color : transparent;
}

ion-item{
    left: auto;
}

.letras {
    --color : #000000;
}

.toggle {
    --background : #000000;
}

.fondo {
    --background: #ffffff;
    --color : #ffffff;
}

ion-content {
    height: 70%;
    width: 100%;
    background-color: #ffffff;
}

ion-card-title.color1{
    --color :	#0833a2; 
    --text-align : 'center';
}
ion-card-title.color2{
    --color : #14faff; 
    --text-align : 'center';
}
ion-card-title.color3{
    --color : #edff14; 
    --text-align : 'center';
}
ion-card-title.color4{
    --color : #ff14ff; 
    --text-align : 'center';
}
ion-card-title.color5{
    --color : #1eff05; 
    --text-align : 'center';
}

ion-card-subtitle {
    --color : #ffffff;
}

#grafica {
    height: 70%;
  --background : #ffffff;
  //background-color: rgb(0, 0, 0);
}

#spinner {
    color: #0833a2;
    top: 30vh;
    left: 50%;
    transform: scale(1.5);
}

#container {
    height: 100%;
}

ion-card-title.color1{
    --color :	#0833a2; 
    --text-align : 'center';
}
ion-card-title.color2{
    --color : #14faff; 
    --text-align : 'center';
}
ion-card-title.color3{
    --color : #edff14; 
    --text-align : 'center';
}
ion-card-title.color4{
    --color : #ff14ff; 
    --text-align : 'center';
}
ion-card-title.color5{
    --color : #1eff05; 
    --text-align : 'center';
}

ion-button{
    --background: #94b8d7;
}

ion-button[shape=circle] {
    --border-radius: 50%;
    width: 20px;
    height: 30px;
   // --background : #ffffff;
}

#boton {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#spinner {
    color: #0833a2;
    top: 30vh;
    left: 50%;
    transform: scale(1.5);
}

.fondoBlanco {
    --background : #ffffff;
    cursor: pointer;
}





@media screen and (max-width: 480px) {
    #grafica {
        max-width: 100%;
        max-height: 100%;
    }

    #spinner {
        top: 25vh;
        left: 50%;
    }

    .tablaExcel {
        border-collapse: separate;
        border-spacing: 15px;
    }

    #boton {
        margin-top: 0%;
        width: 70%;
    }

    #spinner {
        top: 25vh;
        left: 50%;
    }
}